* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.symbolbox {
    overflow: hidden;
    position: absolute;
    /* filter: blur(0px); */
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: #000; */
    align-items: center;
    justify-content: center;
}

.symbolrow {
    position: relative;

    /* display: flex; */
    /* flex-direction: column;  */

    left: -60%;
    bottom: 40%;
    min-width: 100%;
    width: 200%;
    min-height: 100%;
    height: 200%;
    overflow: hidden;
    transform: rotate(-30deg);
    align-items: center;
    justify-content: center;
}

.symbol {
    display: flex;
    width: 100%;
    min-width: calc(400px* 6);
    height: 400px;
    white-space: nowrap;
    padding: 250px 0;
    align-items: center;
    justify-content: center;

}

.symbol .item {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 100%;
    /* padding: 40px; */
    margin: 50px;
    animation: autorun 36s linear infinite;
    animation-delay: calc((36s / 6) * (var(--position, 1) - 1));
}

@keyframes autorun {
    from {
        left: 100%;
    }

    to {
        left: calc(400px* -1);
    }
}

.symbol .item svg {
    width: 100%;
    min-height: 400px;
    padding: 40px;
}

/* Define the 9 bright colors */
:root {
    --bright-color-1: #FF5733; /* Bright Red-Orange */
    --bright-color-2: #33FF57; /* Bright Green */
    --bright-color-3: #3357FF; /* Bright Blue */
    --bright-color-4: #FF33A1; /* Bright Pink */
    --bright-color-5: #FFC300; /* Bright Yellow */
    --bright-color-6: #00BFFF; /* Bright Deep Sky Blue */
    --bright-color-7: #FFD700; /* Bright Gold */
    --bright-color-8: #FF69B4; /* Bright Hot Pink */
    --bright-color-9: #7FFF00; /* Bright Chartreuse */
}

/* row1 */
.row1 .item:nth-child(1) svg {
    stroke: var(--bright-color-1);
    filter: drop-shadow(0 0 10px var(--bright-color-1));
    filter: drop-shadow(0 0 50px var(--bright-color-1));
    filter: drop-shadow(0 0 70px var(--bright-color-1));
}
.row1 .item:nth-child(2) svg {
    stroke: var(--bright-color-3);
    filter: drop-shadow(0 0 10px var(--bright-color-3));
    filter: drop-shadow(0 0 50px var(--bright-color-3));
    filter: drop-shadow(0 0 70px var(--bright-color-3));
}
.row1 .item:nth-child(3) svg {
    stroke: var(--bright-color-5);
    filter: drop-shadow(0 0 10px var(--bright-color-5));
    filter: drop-shadow(0 0 50px var(--bright-color-5));
    filter: drop-shadow(0 0 70px var(--bright-color-5));
}
.row1 .item:nth-child(4) svg {
    stroke: var(--bright-color-7);
    filter: drop-shadow(0 0 10px var(--bright-color-7));
    filter: drop-shadow(0 0 50px var(--bright-color-7));
    filter: drop-shadow(0 0 70px var(--bright-color-7));
}
.row1 .item:nth-child(5) svg {
    stroke: var(--bright-color-2);
    filter: drop-shadow(0 0 10px var(--bright-color-2));
    filter: drop-shadow(0 0 50px var(--bright-color-2));
    filter: drop-shadow(0 0 70px var(--bright-color-2));
}
.row1 .item:nth-child(6) svg {
    stroke: var(--bright-color-9);
    filter: drop-shadow(0 0 10px var(--bright-color-9));
    filter: drop-shadow(0 0 50px var(--bright-color-9));
}

/* row2 */
.row2 .item:nth-child(1) svg {
    stroke: var(--bright-color-8);
    filter: drop-shadow(0 0 10px var(--bright-color-8));
    filter: drop-shadow(0 0 50px var(--bright-color-8));
    filter: drop-shadow(0 0 70px var(--bright-color-8));
}
.row2 .item:nth-child(2) svg {
    stroke: var(--bright-color-1);
    filter: drop-shadow(0 0 10px var(--bright-color-1));
    filter: drop-shadow(0 0 50px var(--bright-color-1));
    filter: drop-shadow(0 0 70px var(--bright-color-1));
}
.row2 .item:nth-child(3) svg {
    stroke: var(--bright-color-6);
    filter: drop-shadow(0 0 10px var(--bright-color-6));
    filter: drop-shadow(0 0 50px var(--bright-color-6));
    filter: drop-shadow(0 0 70px var(--bright-color-6));
}
.row2 .item:nth-child(4) svg {
    stroke: var(--bright-color-4);
    filter: drop-shadow(0 0 10px var(--bright-color-4));
    filter: drop-shadow(0 0 50px var(--bright-color-4));
    filter: drop-shadow(0 0 70px var(--bright-color-4));
}
.row2 .item:nth-child(5) svg {
    stroke: var(--bright-color-3);
    filter: drop-shadow(0 0 10px var(--bright-color-3));
    filter: drop-shadow(0 0 50px var(--bright-color-3));
    filter: drop-shadow(0 0 70px var(--bright-color-3));
}
.row2 .item:nth-child(6) svg {
    stroke: var(--bright-color-2);
    filter: drop-shadow(0 0 10px var(--bright-color-2));
    filter: drop-shadow(0 0 50px var(--bright-color-2));
}

/* row3 */
.row3 .item:nth-child(1) svg {
    stroke: var(--bright-color-5);
    filter: drop-shadow(0 0 10px var(--bright-color-5));
    filter: drop-shadow(0 0 50px var(--bright-color-5));
    filter: drop-shadow(0 0 70px var(--bright-color-5));
}
.row3 .item:nth-child(2) svg {
    stroke: var(--bright-color-9);
    filter: drop-shadow(0 0 10px var(--bright-color-9));
    filter: drop-shadow(0 0 50px var(--bright-color-9));
    filter: drop-shadow(0 0 70px var(--bright-color-9));
}
.row3 .item:nth-child(3) svg {
    stroke: var(--bright-color-8);
    filter: drop-shadow(0 0 10px var(--bright-color-8));
    filter: drop-shadow(0 0 50px var(--bright-color-8));
    filter: drop-shadow(0 0 70px var(--bright-color-8));
}
.row3 .item:nth-child(4) svg {
    stroke: var(--bright-color-1);
    filter: drop-shadow(0 0 10px var(--bright-color-1));
    filter: drop-shadow(0 0 50px var(--bright-color-1));
    filter: drop-shadow(0 0 70px var(--bright-color-1));
}
.row3 .item:nth-child(5) svg {
    stroke: var(--bright-color-6);
    filter: drop-shadow(0 0 10px var(--bright-color-6));
    filter: drop-shadow(0 0 50px var(--bright-color-6));
    filter: drop-shadow(0 0 70px var(--bright-color-6));
}
.row3 .item:nth-child(6) svg {
    stroke: var(--bright-color-4);
    filter: drop-shadow(0 0 10px var(--bright-color-4));
    filter: drop-shadow(0 0 50px var(--bright-color-4));
    filter: drop-shadow(0 0 70px var(--bright-color-4));
}
